
body{
      background-color: azure;
  }
  h1{
      color: aquamarine;
      text-align: center;
  }
  p{
      margin:20px 10px 20px 10px;
  }
  .one{
      color: aqua;
  }
  .riza{
      color: rgb(32, 211, 145);
  }
div{
text-align: center;
margin: 30px 10px 10px 30px;
}
