div .navbar-nav{
    margin-left: 73%;
    color: black;
}
.one{
    background-color:rgb(2, 2, 51);
    margin-left: 2%;
}
.two{
    border: 50px solid white;
    text-align: center;
}
h3.three{
    color: white;
    cursor: pointer;
}
h3.three:hover {
    color: yellow;
  }
.four{
    color: peru;
}
.five{
    color: rgb(105, 115, 122);
}
.six{
    background-color:hsl(5,85%, 63%);
    color: white;
    border: 10px solid white;
    padding: 3%;
    font-size: large;
    font-weight: 600;
    letter-spacing: 4px;
 }
 .six:hover{
     background-color: rgb(2, 2, 51); 
 }
 .seven ul a:hover{
    color: rgb(206, 100, 24);
 }